@model Rc_serviceV2.Models.Servicio

@{
    ViewData["Title"] = "Details";
}

<h3>Detalles del servicio</h3>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card bg-dark rounded-lg" style="width: 80%;">
        <div class="card-header">
            <h1 class="card-title text-light">INFORMACION</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-light">Propietario</h4>
                    <hr class="bg-light" />
                    <dl class="text-light">
                        <dt>Tipo de servicio:</dt>
                        <dd>@Html.DisplayFor(model => model.TipoServicio)</dd>
                        <dt>Detalle del servicio:</dt>
                        <dd>@Html.DisplayFor(model => model.DetallesServicio)</dd>
                        <dt>Estado:</dt>
                        <dd>
                            @if (Model.Estado == true)
                            {
                                <text>Activo</text>
                            }
                            else
                            {
                                <text>Inactivo</text>
                            }
                        </dd>


                    </dl>
                </div>
                
            </div>
            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.IdServicio" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

