@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    .container {
        margin-top: 70px;
    }

    .login-container {
        background-color: white;
        box-shadow: 0 0 10px rgba(139, 0, 139, 0.5);
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="login-container">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <section>
                    <form id="account" method="post">

                        <hr />

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail">
                            <label asp-for="Input.Email">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Contrasena">
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                <label class="form-check-label" asp-for="Input.RememberMe">Recordarme</label>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary btn-lg">Registrar</a>
                        </div>

                        <hr />

                        <div class="text-center">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste la contraseña?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
