@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
    {
<div class="text-center">
    <h2 class="display-4"> Bienvenido a RC_Service</h2>
    <img src="Img/C.png" style=" width:500px; height: 420px; border-radius: 20px; ">
</div>
    }