﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rc_serviceV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rc_serviceV2.styles.css" asp-append-version="true" />
    <link href="~/css/side.menu.style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*<style>
    .btn-backd {
    background: none;
    border: none;
    font-size: 0;
    color: white;
    cursor: pointer;
    }

    .btn-backd i {
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .btn-backd:hover i {
    transform: scale(1.2);
    color: blue; /* Cambia el color a tu preferencia */
    }
    </style>*@
</head>


<body>
    <div class="sidebar" id="sidebar">
        <!-- * logo -->
        <div class="logo__details">
            <i class='bx bxl-nodejs'></i>
            <span class="logo__name">Rc Service</span>
        </div>
        <!--  * lista de Rutas  -->

        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <!--  * lista de Rutas  -->

                <ul class="nav routes__pages">
                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class='bx bxs-home'></i>
                                <span class="link__a">Home</span>
                            </a>
                        </div>
                    </li>

                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a class="link__a" asp-area="" asp-controller="Propietarios" asp-action="Index">
                                <i class='bx bx-body'></i>
                                Propietarios
                            </a>
                        </div>
                    </li>
                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a class="link__a" asp-area="" asp-controller="Servicio" asp-action="Index">
                                <i class='bx bx-body'></i>
                                Servicio
                            </a>
                        </div>
                    </li>
                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a class="link__a" asp-area="" asp-controller="Inmuebles" asp-action="Index">
                                <i class='bx bx-body'></i>
                                Inmuebles
                            </a>
                        </div>
                    </li>
                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a asp-area="" asp-controller="PrestadoreDeServicio" asp-action="Index">
                                <i class='bx bxs-book'></i>
                                <span class="link__a">Proveedores </span>
                            </a>
                        </div>
                    </li>
                    <li class="list__styleBar">
                        <div class="dropdown">
                            <a asp-area="" asp-controller="Oferta" asp-action="Index">
                                <i class='bx bxs-offer'></i>
                                <span class="link__a">Oferta</span>
                            </a>
                        </div>
                    </li>
                    
                </ul>
            }
        </div>
    </div>
    <div class="home__section">
        <div class="home__content">
            <i class='bx bx-menu' id="btn_sidebar"></i>
            <!-- <span class="text">Drop</span> -->
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                        <button type="submit" class="btn-backd">Salir <i class='bx bx-arrow-back'></i> </button>

                    </form>
                }
            }
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/side.menu.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
