﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rc_serviceV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rc_serviceV2.styles.css" asp-append-version="true" />
    <link href="~/css/side.menu.style.css" rel="stylesheet" />
    @*<link href="~/css/oferta.style.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">

    @*<style>
    .btn-backd {
    background: none;
    border: none;
    font-size: 0;
    color: white;
    cursor: pointer;
    }

    .btn-backd i {
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .btn-backd:hover i {
    transform: scale(1.2);
    color: blue; /* Cambia el color a tu preferencia */
    }
    </style>*@
</head>


<body>
    <div class="sidebar" id="sidebar">
        <!-- * logo -->
        <div class="logo__details">
            <i class='bx bxl-nodejs'></i>
            <span class="logo__name">Rc Service</span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <!--  * lista de Rutas  -->
            <ul class="nav routes__pages">
                <li class="list__styleBar">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class='bx bxs-home'></i>
                            <span class="link__a">Home</span>
                        </a>
                    </div>
                <li class="list__styleBar">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="PrestadoresDeServicio" asp-action="Index">
                            <i class='bx bxs-book'></i>
                            <span class="link__a">Proveedores </span>
                        </a>
                    </div>
                </li>
                </li>
                <li class="list__styleBar">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Oferta" asp-action="Index">
                            <i class='bx bxs-offer'></i>
                            <span class="link__a">Oferta</span>
                        </a>
                    </div>
                </li>
                <li class="list__styleBar">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Inmueble" asp-action="Index">
                            <i class='bx bxs-building-house'></i>
                            <span class="link__a">Inmueble</span>
                        </a>
                    </div>
                </li>
                <li class="list__styleBar">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Propietario" asp-action="Index">
                            <i class='bx bxs-briefcase-alt-2'></i>
                            <span class="link__a">Propietario</span>
                        </a>
                    </div>
                </li>
            </ul>
        }
    </div>
    <div class="home__section">
        <div class="home__content">
            <i class='bx bx-menu' id="btn_sidebar"></i>
            <!-- <span class="text">Drop</span> -->
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                        <button type="submit" class="btn-backd">Regresar <i class='bx bx-arrow-back'></i> </button>

                    </form>
                }
            }
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/side.menu.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
