@model Rc_serviceV2.Models.Oferta

@{
    ViewData["Title"] = "Create";
}


<div class="container-contact100 ">
    <div @*class="wrap-contact100 bg-dark">*@
        <form id="createForm" class="contact100-form text-light" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 style="text-align: center; padding-top :20px">Crear oferta</h3>

            <div class="form-group">
                <input class="form-control bg-dark text-light" placeholder="Id oferta" asp-for="IdOfertas">
                <span asp-validation-for="IdOfertas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select class="form-control bg-dark text-light" placeholder="Inmueble" asp-for="InmueblesIdInmueble" asp-items="ViewBag.InmueblesIdInmueble"></select>
            </div>

            <div class="form-group">
                <select class="form-control bg-dark text-light" placeholder="Servicio" asp-for="ServiciosIdServicio" asp-items="ViewBag.ServiciosIdServicio"></select>
            </div>
            <br />
            <div class="container-contact100-form-btn">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>

         
               
            
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            $('#createForm').submit(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Desea gaurdar los cambios?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    denyButtonText: "No guardar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            $('#createForm').unbind('submit').submit();
                        });
                    } else if (result.isDenied) {
                        Swal.fire('Cambios no guardados', '', 'info');
                    }
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
