@model Rc_serviceV2.Models.PrestadoresDeServicio

@{
    ViewData["Title"] = "Edit";
}
<style>

    .row {
        width: 460px;
        height: 90%;
        padding: 30px;
        align-items: center;
        align-content: center;
        /*text-align: center;*/
        margin-left: 29%;
        margin-right: 29%;
    }

</style>
<h3 style="text-align: center; padding-top :20px">Editar Proveedor</h3>
<hr />
<div class="row" style="border: 2px 5px solid #000000;box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); border-radius:30px ">
    <form asp-action="Edit" id="editForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdPrestador" />
            <div class="form-group">
                <label class="control-label">Id Proveedor</label>
                <input class="form-control" placeholder="Id prestador" asp-for="IdPrestador">
                <span asp-validation-for="IdPrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombres</label>
                <input class="form-control" placeholder="Nombres" asp-for="NamePrestador">
                <span asp-validation-for="NamePrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellidos</label>
                <input class="form-control" placeholder="Apellidos" asp-for="LastnamePrestador">
                <span asp-validation-for="LastnamePrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Celular</label>
                <input class="form-control" placeholder="Celular" asp-for="Celular">
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" placeholder="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Direccion</label>
                <input class="form-control" placeholder="Direccion" asp-for="UbicacionId">
                <span asp-validation-for="UbicacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Servicio</label>
                <select class="form-control" placeholder="Servicio" asp-for="ServiciosIdServicio" asp-items="ViewBag.ServiciosIdServicio"></select>
            </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-dark">Volver</a>
        </div>
            </form>
            </div>

       


@section Scripts {
    <script>
        $(function () {
            $('#editForm').submit(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Deseas gauradar los cambios?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    denyButtonText: "No guardar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        setTimeout(function () {
                            $('#editForm').unbind('submit').submit();
                        });
                    } else if (result.isDenied) {
                        Swal.fire('Cambios no guardados', '', 'info');
                    }
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}